name: CI Build

env:
  RELEASE_BIN: fs24bot3

on:
  push:

jobs:
  linux_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: bash ./fs24bot3/build-linux-shared.bash
      - uses: actions/upload-artifact@v3
        with:
          name: fs24bot3-linux
          path: ./releases